// USER VARIABLES SECTION

@accent: #c32b83; // Accent Color
@greencolor: #65bc54;
@fontsize: 16px; // Body Font Size
@textcolor: #333; // Text Color
@mainfamily: 'Roboto', sans-serif; // Main Font Family


// FONTS LOAD SECTION



// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  .wrapper();
}

::selection {
  background-color: @accent;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-size: @fontsize;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: @mainfamily;
  font-weight: 300;
  overflow-x: hidden;
  background-color: #000;
  color: @textcolor;
  word-wrap: break-word;
  // word-break: keep-all;
  // hyphens: auto;
}

// IMPORT SECTION

@import "smart-grid.less";
@import (less) '../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import (less) '../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css';
