// USER VARIABLES SECTION

@accent: #c32b83; // Accent Color
@greencolor: #65bc54;
@fontsize: 16px; // Body Font Size
@textcolor: #333; // Text Color
//@mainfamily: 'Helvetica Neue Cyr Roman', sans-serif; // Main Font Family
@mainfamily: 'Times New Roman Bold', serif; // Main Font Family


// FONTS LOAD SECTION

@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times New Roman Bold';
  src: url('../fonts/TimesNewRomanPS-BoldMT.eot');
  src: url('../fonts/TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TimesNewRomanPS-BoldMT.woff') format('woff'),
  url('../fonts/TimesNewRomanPS-BoldMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  .wrapper();
}

::selection {
  background-color: @accent;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-size: @fontsize;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: @mainfamily;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #000;
  color: @textcolor;
}

// IMPORT SECTION

@import "smart-grid.less";
@import (less) '../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import (less) '../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css';
