// USER VARIABLES SECTION

@accent: #c32b83; // Accent Color
@greencolor: #65bc54;
@grey: #444;
// @fontsize: 16px; // Body Font Size
@textcolor: #333; // Text Color
@mainfamily: 'Roboto', sans-serif; // Main Font Family


// MIXINS

// usage, x is the pixel size needed: .font-size(x);
.font-size(@sizeValue) {
  @remValue: @sizeValue / 16;
  @pxValue: (@sizeValue);
  font-size: ~"@{pxValue}px";
  font-size: ~"@{remValue}rem";
}

// usage, x is the pixel size needed: .line-height(x);
.line-height(@sizeValue) {
  @remValue: @sizeValue / 16;
  @pxValue: (@sizeValue);
  line-height: ~"@{pxValue}px";
  line-height: ~"@{remValue}rem";
}


// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  .wrapper();
}

::selection {
  background-color: @accent;
  color: #fff;
}

body {
  // font-size: @fontsize;
  min-width: 320px;
  position: relative;
  // line-height: 1.65;
  font-family: @mainfamily;
  font-weight: 300;
  overflow-x: hidden;
  background-color: @grey;
  color: @textcolor;
  word-wrap: break-word;
  // word-break: keep-all;
  // hyphens: auto;
}

// IMPORT SECTION

@import "smart-grid.less";
@import (less) '../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css';
@import (less) '../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css';
